body{
    position: relative;
}

ul{
    list-style: none;
}
.content{
    position: absolute;
    width: 300px;
    text-align: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%,100%);
    /*margin-left: -150px;*/
    /*margin-top: -100px;*/
    background: #ececec;
}
a{
    text-decoration: none;
    color: dodgerblue;
    display: block;
    height: 40px;
    font-size: 22px;
    font-weight: bold;
}
a:hover{
    color:white;
    background: lightseagreen;
}